{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">JULIAN PARK</h5>

                <p class="card-text">It’s Julian Park. I’m interested in the Web programming field. I’m here for writing
                    about how my study goes on and some stuff about my life.

                    I really love to challenge myself. The biggest challenge is being persistent into one behavior.</p>

            </div>
        </div>
    </div>
{% endblock %}